@use 'sass:color';

.bgc-primary {
  background-color: #F6F7F8;
}
.bgc-secondary {
  background-color: #FFFFFF;
}
.bgc-field {
  background-color: #F5F4F4;
}
.bgc-field-active {
  background-color: #F4F3F3;
}


.border-primary {
  border-color: #EBECED;
}
.border-secondary {
  border-color: #CCCCCC;
}


.text-primary {
  color: #000000;
}
.text-secondary {
  color: #939292;
}


$primary-color: #252529;
$secondary-color: #FFFFFF;

// для инпута
@mixin input-states {
  border-radius: 8px;
  @extend .bgc-field;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
   @extend .bgc-field-active;
  }

  &.v-field--focused,
  &:focus-within {
    @extend .bgc-field-active;
    box-shadow: 0 0 0 2px #1976D2;
  }
}

// для иконок инпута
@mixin input-icon {
  color: #757575;
  opacity: 0.7;
  transition: opacity 0.3s ease, color 0.3s ease;
  cursor: pointer;
  &:hover {
    opacity: 1;
    color: #1976D2;
  }
}

//  для кнопок
@mixin button-base($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.scale($bg-color, $lightness: -10%);
  }
}


.btn-primary {
  @include button-base($primary-color, white);
}

.btn-secondary {
  @include button-base($secondary-color, $primary-color);
}


.input-hover-focus {
  @include input-states;
}

.input-icon-hover {
  @include input-icon;
}