@use 'reset';

@use 'fonts';



html {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.v-navigation-drawer {
  overflow-y: auto !important;
}

.v-navigation-drawer::-webkit-scrollbar {
  width: 8px;
}

.v-navigation-drawer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.v-navigation-drawer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.v-navigation-drawer::-webkit-scrollbar-thumb:hover {
  background: #555;
}